@charset "utf-8";
/* CSS Document */

/*--------通用样式--------*/
*{
	padding: 0;
	margin: 0;
}
body{
	font-size: 14px;
	font-family:"微软雅黑";
	color:#6c6c6c;
}
img{
	border: none;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.clear{
	clear:both;
}

/*--------列表样式--------*/
.header_banner{
	height:82px;
	border-bottom: 5px solid #e4e4e4;
	margin-bottom: 10px;
	font-family:"微软雅黑";
	border-top: 2px solid #52bbdd;
}
.header_title{
	font-weight: bold;
	font-size: 21px;
	padding-top: 32px;
	color: #52bbdd;
}
.banner_nav{
	padding-top: 33px;
}
.banner_exist{
	padding-top: 33px;
	padding-left: 33px;
}
.middle_table{
	border: 1px solid #c7c7c7;
	border-radius: 4px;
  	box-shadow: inset 3px 3px 7px rgba(0,0,0,0.075);
  	margin-top: 5px;
  	padding: 10px 0;
}

.user_table{
	border: 1px solid #c7c7c7;
  	border-radius: 4px;
  	box-shadow: inset 3px 3px 7px rgba(0,0,0,0.075);
  	width: 80%;
  	padding: 0 20px;
  	padding-top: 15px;
  	margin-top: 5px;
}
.upload1{
	float: left;

}
.upload2{
	float: left;
	width: 80%;
}


.glyphicon{
	/*color: #5E5E5E;
	font-size: 14px;*/
}
.glyphicon-ok{
	color: #3bc32b;
}
.panel-title{
	font-family: "微软雅黑";
}

.panel-body{
	line-height: 28px;
}
.panel-body a{
	color: #52bbdd;
}
.push_content{
	font-size:20px;
	padding-left:5px;
	border-bottom:1px solid #e4e4e4;
	width:16%;
}
.span9 a{
	color:#52bbdd;
}
.nav-tabs>li>a{
	color:#52bbdd;
}



.middle_table>table{
	text-align:center;
}
.middle_table>table>thead>tr>th{
	text-align:center;
	font-size: 15px;
}
.middle_table>table>tbody{
	font-size:14px;
}
.user_table>table>caption{
	font-size: 15px;
}
.user_table>table>tbody{
	font-size: 14px;
}
.container{
	font-family: "微软雅黑";
}
.btn btn-default{
	color: #52bbdd;
}

.show_picture{
	border-radius: 6px;
	padding: 10px;
	border: 1px solid #dddddd;
	box-shadow: 3px 3px 15px #c8c8c8;
	max-width: 600px;
	margin: 0 0 10px 20px;
}
.show_picture1{
	border-radius: 6px;
	padding: 10px;
	border: 1px solid #dddddd;
	box-shadow: 3px 3px 15px #c8c8c8;
	max-width: 600px;
	margin-top: 5px;
}
.topic_contents{
	/*border: 1px solid #dddddd;*/
	color: #999999;
}