@charset "utf-8";
/* CSS Document */

/*--------通用样式--------*/
*{
	padding: 0;
	margin: 0;
}
body{
	font: 14px 微软雅黑;
}
img{
	border: none;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.clear{
	clear:both;
}

/*---------首页样式---------*/
.header{
	
	margin: 0 auto;
	padding: 0;
	/*height: 100px;*/
}
.banner{
	width: 1080px;
	margin: 0 auto;
	padding: 0;
}
.banner p{
	line-height: 30px;
  	font-size: 24px;
  	margin: 24px 0 30px 0;
  	margin-left: 45px;
  	font-weight: bold;
}
.banner p span{
	color: #52BBDD;
}
.banner p img{
	margin-right: 8px;
	margin-bottom: -8px;
}
.wrap{
	margin: 0 auto;
	padding: 0;
	background: #f2f2f2;
	border-top: 1px solid #d8d8d8;
	box-shadow: inset 0px 3px 10px #e4e4e4;
}
.main{
	width: 1080px;
	margin: 0 auto;
	padding: 0;
	min-height: 530px;
}
.middle_left{
	margin-left: 35px;
	float: left;

}
.middle_left img{
	margin: 64px 0 30px 0;

}
.middle_right{
	margin: 75px 50px 50px 120px;
	/*padding: 20px 20px 15px 20px;*/
	padding: 35px 30px 30px 30px;
	float: left;
	border: 1px solid #dddddd;
	box-shadow: 3px 6px 15px #C0C0C0;
	background: #fefefe;
}
.middle_right h3{
	font-weight: normal;
}
.middle_right p{
	margin: 22px 0;
	position: relative;
}

.inputUP{
	width: 200px;
  	height: 33px;
  	padding: 0px 5px;
  	border: 1px solid #dddddd;
  	border-radius: 4px;
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  	padding-left: 35px;
}
.u_logo{
	background: url("../images/username.png") no-repeat;
	padding: 10px 10px;
  	position: absolute;
  	top: 11px;
  	left: 11px;
}
.p_logo{
	
  	background: url("../images/password.png") no-repeat;
  	padding: 10px 10px;
  	position: absolute;
  	top: 11px;
  	left: 11px;
}

.inputcheck{
	width: 130px;
  	height: 33px;
  	padding: 0px 5px;
  	border: 1px solid #dddddd;
  	border-radius: 4px;
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
#checkNumResult img{
	width: 90px;
	height: 35px;
	margin-left: 5px;
}
#toLogin{
  	width: 100%;
  	
  	height: 34px;
  	font: 15px 微软雅黑;
  	color: rgb(255, 255, 255);
  	border-radius: 4px;
  	cursor: pointer;
  	background: rgba(82, 187, 221, 1);
  	border: 1px solid rgba(207, 207, 207, 1);
  	border-image-source: initial;
 	border-image-slice: initial;
  	border-image-width: initial;
  	border-image-outset: initial;
  	border-image-repeat: initial;
}
/*---------首页-底部 样式---------*/
.bottom_login{
	margin: 0 auto;
	padding: 0;
	margin: 0 auto;
  	padding: 30px;
  	/* background: #e4e4e4; */
  	border-top: 5px solid rgb(82, 187, 221);
  	
}
.bottom_index{
	margin: 0 auto;
	padding: 0;
	margin: 0 auto;
  	padding: 30px;
  	/* background: #e4e4e4; */
  	border-top: 5px solid rgb(82, 187, 221);
  	margin-top: 10px;
}
.copyright{
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}
.copyright p{
	text-align: center;
	font-family: "微软雅黑";
}

/* JCROP */
.jcrop-holder{
	
}
.jcrop-holder #preview-pane {
	display: block;
	position: absolute;
	z-index: 2;
	top: 10px;
	right: -280px;
	padding: 6px;
	border: 1px rgba(0, 0, 0, .4) solid;
	background-color: white;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
	
}

/* The Javascript code will set the aspect ratio of the crop
   area based on the size of the thumbnail preview,
   specified here */
#preview-pane .preview-container {
	width: 250px;
	height: 170px;
	overflow: hidden;
}

/*  遮罩  */

#loading_img{
	position:fixed;
	display:none;
	z-index:1001;/*优先级*/
}

#loading_back
{

background-color:#8B8B8B;/*背景色*/
position: absolute ;/*绝对定位，必选，使层绝对依照top,left的标准显示，否则将不能实现覆盖*/
top:0;/*层与页面顶部距离*/
left:0;/*层与左侧边距离*/
z-index:1000;/*当发生重叠时的优先级，数大的会覆盖数较小的，没进行设置的均可视为小于0*/
display:none; /*层是否可见，初始化none不可见*/
filter:Alpha(opacity=10);/*过滤颜色，设置透明度（可见度）30，数越小越透明*/
opacity:0.50; 
} 